.select_option_main {
    position: absolute;
    right: -20px;
    bottom: -100%;
}

.opItem {
    position: relative;
}

.opts {
    position: absolute;
}

.custom_select_main {
    max-width: 380px;
    width: 250px;
    min-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    padding-right: 35px;
    border: 1px solid #e4e7ed;
}

.custom_select_main.customfocus {
    border-radius: 5px;
    border: 1px solid #2879bd;
}

.customposition {
    position: absolute;
    right: 5px;
    top: 0px;
}

.custom_select_main>span {
    float: left;
}

.roate {
    transform-origin: center;
    transform: rotate(180deg);
}

.custom_opts_main {
    position: absolute;
    width: 110%;
    left: 20px;
}

.custom_opts_main[x-position=bottom] {
    bottom: 0;
}

.custom_opts_main[x-position=top] {
    top: 0;
}

/* 选项框样式 */
.custom_opts {
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 5px 0;
    width: 180px;
    position: absolute;
    background: #e7dede;
    z-index: 10000;
}
[x-position=top] .custom_opts{
    box-shadow: -2px -2px 12px #e7dede;
}
[x-position=bottom] .custom_opts{
    box-shadow: 0 6px 12px #e7dede;
}
/* 弹框标 */
.sign::before {
    position: absolute;
    display: inline-block;
    content: '';
    box-sizing: border-box;
}

[x-position=bottom]>ul {
    top: 10px;
}

[x-position=bottom]>ul::before {
    left: 20px;
    top: -8px;
    border-bottom: 10px solid #e7dede;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

[x-position=top]>ul {
    bottom: 10px;
}

[x-position=top]>ul::before {
    left: 20px;
    bottom: -8px;
    border-top: 10px solid #e7dede;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.opt_item {
    box-sizing: border-box;
    position: relative;
    text-align: left;
    box-sizing: border-box;
    padding: 0 35px 0 15px;
    height: 34px;
    line-height: 34px;
}

.opt_item:hover {
    background: #2879bd14;
}

.custom_opts_arrow {
    position: absolute;
    right: 5px;
    top: 0;
}

.custom_opts_item_main {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.custom_opts_item_opts {
    box-sizing: border-box;
    padding: 5px;
    width: 80px;
    position: absolute;
    left: 15px;
    box-shadow: 3px 0 12px #e7dede !important;
}
.custom_opts_item_opts[x-position=top]{
    bottom: 0;
}
.custom_opts_item_opts[x-position=bottom]{
    top: 0;
}
.custom_opts_item_opts::before {
    left: -8px;
    border-top: 10px solid transparent;
    border-right: 10px solid #e7dede;
    border-bottom: 10px solid transparent;
}
.custom_opts_item_opts[x-position=top]::before{
    bottom: 8px;
}
.custom_opts_item_opts[x-position=bottom]::before{
    top: 8px;
}
.roateItem {
    transform-origin: center;
    transform: rotate(-90deg);
}

.bindInput {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}